.header__inner
  .header-left
    = link_to "", class:"header-left__index" do
      daily growth
  .header-nav
    %ul.header-lists
      %li.header-list
        = link_to "", class: "header-list__sign-in" do
          login
      %li.header-list
        = link_to "", class: "header-list__new-registration" do
          signin