.header{
  &__inner{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
    background-color: black;
    .header-left{
      margin-left: 10px;
      &__index{
        color: white;
        text-decoration: none;
      }
    }
    .header-nav{
      margin-right: 10px;
      .header-lists{
        display: flex;
        .header-list{
          margin-left: 20px;
          &__sign-in{
            text-decoration: none;
            color: white;
          }
          &__new-registration{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}